<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JVMTest/src/com/edmund/demo/BiasedLocking.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.edmund.demo.BiasedLocking"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JVMTest"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-server -XX:+DoEscapeAnalysis -XX:+EliminateLocks"/>
</launchConfiguration>
