@CHARSET "UTF-8";

  body{background-image:url(../img/hompage.jpg)}
#container{
    width: 800px;height:600px;margin: auto;border:0px dashed red;margin-top:95px ;position: relative;
}
    #div1{
        float: left;
        width: 20%;
        height: 100%;
        border:0px dashed red;
        position: relative;
        left: 0px;
        background-image: url(../img/div1.jpg);
    }
#div2{
    float: right;
    width: 78%;
    height: 90%;
    border:0px dashed blue;
    position: relative;
    right: 0px;
    background-image: url(../img/divback.jpg);
    overflow:auto;
}
    #div3{
        float: right;
        width: 78%;
        height: 50px;
        border:0px dashed blue;
        position: relative;
        top: 6px;
        color: rgb(150,150,150);
        font-size: 10px;
        text-align: center;
        line-height: 50px;
        background-color: white;
    }
    .label{
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        height: 20px;
        line-height: 28px;
        font-family: Microsoft YaHei;
    }
    .user{
		display:block;
        float: left;
        border:0px dashed blue;
        width: 120px;
        height: 20px;
        margin-left:25px ;
        margin-top: 5px;
        font-family: Microsoft YaHei;
        font-size: 13px;
		text-decoration: none;
		color:black;
		 background:rgba(50,100,100,0.4);
		 
    }
    
 #button1{
 width: 80px; 
 height: 25px;
 line-height: 25px;
  background-color: rgb(200,200,200); 
  position: absolute; 
  top:-25px;
  right:100px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
   border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
       
 }
 
 #button2{
 width: 80px; 
 height: 25px;
 line-height: 25px;
  background-color: rgb(200,200,200); 
  position: absolute; 
  top:-25px;
  right:10px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
   border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
 }
 
 
    .time{
        float: left;
        width: 240px;
        height: 20px;
        margin-left:5px ;
        margin-top: 5px;
        background-color: rgba(100,200,200,0.4);
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
          font-family: Microsoft YaHei;
          font-size: 14px;
    }
    .content{
        float: left;
        width: 560px;
        height:20px;
       font-size:13px;
        margin-left:30px ;
        margin-top: 5px;
        background-color: aliceblue;
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        font-family: Microsoft YaHei;
        overflow:hidden;
    }
    
        .detail{
        float: left;
        width: 560px;
        height:400px;
       font-size:13px;
        margin-left:30px ;
        margin-top: 5px;
        padding:5px 5px 5px 5px;
        background-color:rgba(123,132,232,0.3);
        border-radius:5px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        font-family: Microsoft YaHei;
    }
    
    
    a{
    text-decoration: none; color:black;
    }
    
    
    ::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.2); 
}
    