<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <servlet>
  <!-- 給servlet取个名字 -->
  <servlet-name>Reg</servlet-name>
  <!-- 关联到类文件地址 -->
  <servlet-class>com.edmund.web.Regist</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/regist.edmund</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Reg2</servlet-name>
  <servlet-class>com.edmund.web.Regist2</servlet-class>
  </servlet>
  <servlet>
    <description>this is test1</description>
    <display-name>test1</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.edmund.web.Register</servlet-class>
  </servlet>
  <servlet>
    <description>this is test1</description>
    <display-name>test1</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>Test2</servlet-class>
  </servlet>
  <servlet>
    <description>this is test3</description>
    <display-name>test3</display-name>
    <servlet-name>Test3</servlet-name>
    <servlet-class>com.edmund.web.Test3</servlet-class>
  </servlet>
  <servlet>
    <description>this is test3</description>
    <display-name>test3</display-name>
    <servlet-name>Test4</servlet-name>
    <servlet-class>com.edmund.web.Test4</servlet-class>
  </servlet>
  <servlet>
    <description>this is test3</description>
    <display-name>test3</display-name>
    <servlet-name>Test5</servlet-name>
    <servlet-class>com.edmund.web.Test5</servlet-class>
  </servlet>
  <servlet>
    <description>this is test3</description>
    <display-name>test3</display-name>
    <servlet-name>Test6</servlet-name>
    <servlet-class>com.edmund.web.Test6</servlet-class>
  </servlet>
  <servlet>
    <description>this is test7</description>
    <display-name>test7</display-name>
    <servlet-name>Test7</servlet-name>
    <servlet-class>com.edmund.web.Test7</servlet-class>
  </servlet>








<servlet-mapping>
<servlet-name>Reg2</servlet-name>
<url-pattern>/haha</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test4</servlet-name>
    <url-pattern>/Test4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test5</servlet-name>
    <url-pattern>/Test5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test6</servlet-name>
    <url-pattern>/Test6.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test7</servlet-name>
    <url-pattern>/Test7.do</url-pattern>
  </servlet-mapping>

</web-app>
